node_modules
npm-debug.log
.env
.env.local
dist
dist-ssr
.vscode
.idea
*.md
!README.md
.git
.github
.agents
.atl
.graphify-out
opencode.json
skills-lock.json
openspec
playwright-mcp
Dockerfile
.dockerignore
docker-compose.yml
docker-compose.override.yml
